CoralogixSDK.config
# Logs
logs
*.log

# scala / intellij ignores
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.sc

backup-*

pids
logs
results
components/
target/
project/target/
data/
*.rdb

# intellij ignores
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea_modules
.classpath
.project
RUNNING_PID
.settings

.cache*
